@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #AD8B73;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #CEAB93;
    user-select: none;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 35px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid #CEAB93;
    transition: .3s;
}

ul li a{
    padding: 12px;
}

ul li:hover a{
    padding: 25px;
}

ul a i{
    margin-right: 18px;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #E3CAA5;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #btn:hover{
    background-color: #AD8B73;
}

label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: white;
    padding: 4px 9px;
    transition: all .5s ease;
}

label #cancel:hover{
    background-color: #AD8B73;
}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ label #cancel{
    left: 195px;
}

#check:checked ~ section{
    margin-left: 250px;
}

section{
    background: url(bg.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}

main {
    padding-bottom: 40rem;
    text-align: center;
    justify-content: center;
    font-size: 50px;
}
.section {
    padding: 2rem;
    margin: 0 0 2rem 0;
}

.profile-pic{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}